script(src='vender/material-design-lite/material.min.js')
script(src='vender/angular/angular.min.js')
//script(src='vender/angular-resource/angular-resource.min.js')
script(src='vender/angular-route/angular-route.min.js')
script(src='scripts/app.js')
script(src='scripts/controllers.js')