.mdl-cell.mdl-cell--12-col
	.mdl-card.mdl-shadow--2dp.welcome-card.centerElement
		.mdl-card__title.welcome-card-image
			h2.mdl-card__title-text Welcome
		.mdl-card__supporting-text.welcome-card-text
			A Quiz Application using Mean Stack host at heruko
		.mdl-card__Actions.mdl-card--border
			a.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-button--raised.mdl-button--primary.welcome-card-button(href='#signin') Get Started
		.mdl-card__menu.welcome-card-menu
			button.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-button--icon
				i.material-icons share
	
