.mdl-cell.mdl-cell--12-col
	.mdl-card.mdl-shadow--2dp.centerElement
		.mdl-card__title
			h2.mdl-card__title-text Get Started
		.mdl-card__supporting-text
				.mdl-textfield.mdl-js-textfield
					input.mdl-textfield__input(type="username" id='username' ng-model='user.userName')
					label.mdl-textfield__label(for="username") User Name
				.mdl-textfield.mdl-js-textfield
					input.mdl-textfield__input(type="password" id='password' ng-model='user.passWord')
					label.mdl-textfield__label(for="password") Password
		.mdl-card__Actions.mdl-card--border
			button.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-button--raised.mdl-button--primary.welcome-card-button(ng-click='signin()') Sign In
		.mdl-card__menu
			button.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-button--icon
				i.material-icons share