doctype html
html
	head
		title A Quiz Application
		include includes/styles
	body(ng-app='quiz-app')
		block main-content
			.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
				header.mdl-layout__header
					.mdl-layout__header-row
						span.mdl-layout-title A Quiz Application
						.mdl-layout-spacer
						nav.mdl-navigation.mdl-layout--large-screen-only
							a.mdl-navigation__link(href="#/") Home
							a.mdl-navigation__link(href="#/signin") Sign In
							a.mdl-navigation__link(href="#/signup") Sign Up
							a.mdl-navigation__link(href="#/Quiz", ng-hide='true') Quiz
				.mdl-layout__drawer
					span.mdl-layout-title A Quiz Application
					nav.mdl-navigation.mdl-layout--large-screen-only
						a.mdl-navigation__link(href="#/") Home
						a.mdl-navigation__link(href="#/signin") Sign In
						a.mdl-navigation__link(href="#/signup") Sign Up
						a.mdl-navigation__link(href="#/Quiz", ng-hide='true') Quiz
				.mdl-layout__content
					.mdl-grid
						.mdl-cell.mdl-cell--12-col
							block content
								ng-view
				.mdl-mini-footer
					.mdl-mini-footer--left-selection
						.mdl-logo
							ul.mdl-mini-footer--link-list
								li
									ul
										a(href="#")
		include includes/scripts