.welcome-card {
	width: 512px;
}
.welcome-card-image {
	color: #fff;
	height: 176px;
	background: url('../images/welcome.jpg') center / cover;
}
.welcome-card-text a {
	color: #000000;
}
.welcome-card-menu {
	color: #fff;
}
.welcome-card-button {
	margin-left: 15px;
	margin-bottom: 15px;
}
.centerElement {
	margin: auto;
}